MyFirstProject/.vs/MyFirstProject/v15/.suo
MyFirstProject/.vs/MyFirstProject/v15/Browse.VC.db
MyFirstProject/.vs/MyFirstProject/v15/Server/sqlite3/db.lock
MyFirstProject/.vs/MyFirstProject/v15/
MyFirstProject/Library/
MyFirstProject/Logs/
MyFirstProject/obj/
MyFirstProject/Pumpkins-And-Golems-Assets/
MyFirstProject/Temp/
